body {
    align-items: center;
    margin-left: 25px;
}

.obtener {
    cursor: pointer;
    height: 25px;
    border: none;
    border-radius: 12px;
    border: 1px solid black;
}

.limpiar {
    cursor: pointer;
    height: 25px;
    border: none;
    border-radius: 12px;
    border: 1px solid black;
}

p{
    border: 1px solid black; /* establece un borde negro sólido de 1px de ancho */
}